* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Rubik;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.main-nav {
    text-align: center;
    background-color: lightgrey;
    padding: 15px;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
          
}

a {
display: block;
color: inherit;
text-decoration: none;
background-color: white;
padding: 10px;
margin: 20px;
text-align: center;

 }

 .home-button:hover {
    color: white;
    text-decoration: none;
    background-color:dodgerblue;

 }

 .portfolio-button:hover {
    color: white;
    text-decoration: none;
    background-color:peru;

 }

 .skills-button:hover {
    color: white;
    text-decoration: none;
    background-color:lightseagreen;

 }

 .contact-button:hover {
    color: white;
    text-decoration: none;
    background-color:darkorchid;

 }

 
h1, h2 {
    padding: 10px;
    text-align: center;
    }

    
p {
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;

}

img {
    max-width: 100%;
    
}

.profile-pic {
    max-width: 100%;
    
    }

.pic-and-greeting  {
    background-color: white;
    text-align: center;
    
}

.portfolio {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: flex-start;
       
}

.portfolio-item {

    align-self: flex-start;
    margin-top: 15px;

}
.skills {
    background-color:antiquewhite;

}

.contact {
    background-color: darkgrey;
    text-align: center;
    width: 100%;
    padding-top: 20px;
   
}

.name {
    margin-top: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
   }

   .full {
    display: none;
  }




@media (min-width: 768px) {
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        display: inline-block;
    }
    
    .pic-and-greeting {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 20px;
        padding-top: 0;
    }
   
    .profile-pic {
        width: 66%;
        
        }

    .portfolio {
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio-item {
        width: 50%;
    }

    p {
      text-align: left;
      font-size: 1.3em;
    }


    .skills {
display: flex;
flex-direction: row;
align-items: center;
width: auto;
    }

    .full {
        display: inline-block;
      }

      .top {
        display: none;
      }
    .guitar {
        width: 50%;
        
            }
    
}


@media (min-width: 1024px) {
    .portfolio-item {
        width: 33.3333%;
    }

    .guitar {
width: 33%;

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      p {
        text-align: left;
        font-size: 1.6em;
            
      }

      .profile-pic {
        width: 66%;
        
        }

        
}